
body {
  background-color: #A8DADC;
}

header {
  background-color: #1D3557;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 30px;
}

.topnav {
    background-color: #0F1C2E;
    overflow: hidden;
    margin-top: 5px;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(147, 10, 10);
    color: white;
  }
  
  section {
    float: left;
    padding: 10px;
    margin-bottom: 50px;
  }

  #content {
    color: white;
    background-color: #2A4C66;
    text-align: center;
    margin-top: 20px;
    float: left;
    width: auto;
    padding: 5px;
  }

  table, th, td{
    margin-top: 4px;
    padding: 10px 5px 10px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #1b0101;
  }

  aside {
    float: right;
    background-color: #E63946;
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    border-radius: 5px;
    width: 300px;
  }

  a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }

  img {
    width: 100px;
  }

  * {
    font-family: 'Times New Roman', Times, serif ;
  }

  form {
    float: left;
    margin-left: 20px;
    width: 30%;
    display: grid;
    margin-bottom: 50px;
  }